header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: cornflowerblue;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

li {
  padding: 25px 50px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: white;
}